In [1]:
import pandas as pd

### Hospital Feature Data Set Pre-Processing:

In [168]:
# pulling in hospital feature data set
hospFeat = pd.read_json("https://data.cms.gov/resource/8rp3-rzmi.json?state_code=NY")
hospFeat.head()

,accounts_payable,accounts_receivable,allowable_dsh_percentage,buildings,cash_on_hand_and_in_banks,ccn_facility_type,city,combined_outpatient_inpatient,contract_labor,cost_of_charity_care,...,total_salaries_adjusted,total_salaries_from_worksheet,total_unreimbursed_and,type_of_control,unsecured_loans,wage_related_costs_core,wage_related_costs_for_interns,wage_related_costs_for_part,wage_related_costs_rhc_fqhc,zip_code
0,NaN,NaN,NaN,NaN,NaN,PH,ORANGEBURG,22147704.0,NaN,NaN,...,93088364.0,93088364.0,-3912103.0,10,NaN,49192404.0,NaN,NaN,NaN,10962-1196
1,NaN,NaN,NaN,NaN,NaN,PH,ROCHESTER,1939591.0,NaN,NaN,...,34442946.0,34442946.0,-6429628.0,10,NaN,18333880.0,NaN,NaN,NaN,14620-3965
2,NaN,NaN,NaN,NaN,NaN,PH,UTICA,6125975.0,NaN,NaN,...,19373691.0,19373691.0,NaN,10,NaN,10361050.0,NaN,NaN,NaN,13502-3803
3,NaN,NaN,NaN,NaN,NaN,PH,DIX HILLS,NaN,NaN,NaN,...,NaN,NaN,NaN,10,NaN,NaN,NaN,NaN,NaN,11746-5861
4,NaN,NaN,NaN,NaN,NaN,STH,ROCHESTER,NaN,NaN,NaN,...,NaN,NaN,NaN,5,NaN,NaN,NaN,NaN,NaN,14620-4629

In [ ]:
aprHospFeat.drop(['accounts_payable',
 'accounts_receivable',
 'allowable_dsh_percentage',
 'buildings',
 'cash_on_hand_and_in_banks',
 'city',
 'combined_outpatient_inpatient',
 'contract_labor',
 'cost_of_charity_care',
 'cost_to_charge_ratio',
 'county',
 'deferred_income',
 'depreciation_cost',
 'disproporationate_share',
 'drg_amounts_after_october',
 'drg_amounts_before_october',
 'fiscal_year_begin_date',
 'fiscal_year_end_date',
 'fixed_equipment',
 'fte_employees_on_payroll',
 'general_fund_balance',
 'gross_revenue',
 'health_information_technology',
 'hospital_name',
 'hospital_total_days_title_1',
 'hospital_total_days_title_2',
 'hospital_total_days_v_xviii',
 'hospital_total_discharges_1',
 'hospital_total_discharges_2',
 'hospital_total_discharges_3',
 'inpatient_revenue',
 'inpatient_total_charges',
 'inventory',
 'investments',
 'land',
 'land_improvements',
 'leasehold_improvements',
 'less_allowances_for',
 'less_contractual_allowance',
 'less_total_operating_expense',
 'major_movable_equipment',
 'managed_care_simulated',
 'medicaid_charges',
 'medicare_cbsa_number',
 'minor_equipment_depreciable',
 'mortgage_payable',
 'net_income',
 'net_income_from_service_to',
 'net_patient_revenue',
 'net_revenue_from_medicaid',
 'net_revenue_from_stand_alone',
 'notes_and_loans_payable_short',
 'notes_payable',
 'notes_receivable',
 'number_of_interns_and',
 'other_assets',
 'other_current_assets',
 'other_current_liabilities',
 'other_long_term_liabilities',
 'outlier_payments_for',
 'outpatient_revenue',
 'outpatient_total_charges',
 'overhead_non_salary_costs',
 'payroll_taxes_payable',
 'prepaid_expenses',
 'salaries_wages_and_fees',
 'stand_alone_schip_charges',
 'state_code',
 'street_address',
 'temporary_investments',
 'total_assets',
 'total_bad_debt_expense',
 'total_current_assets',
 'total_current_liabilities',
 'total_days_title_xix',
 'total_days_title_xix_total',
 'total_days_title_xviii',
 'total_days_title_xviii_total',
 'total_days_v_xviii_xix_unknown',
 'total_days_v_xviii_xix_unknown_1',
 'total_discharges_title_xix',
 'total_discharges_title_xix_1',
 'total_discharges_title_xviii',
 'total_discharges_title_xviii_1',
 'total_discharges_v_xviii',
 'total_discharges_v_xviii_1',
 'total_fixed_assets',
 'total_fund_balances',
 'total_ime_payment',
 'total_income',
 'total_liabilities',
 'total_liabilities_and_fund',
 'total_long_term_liabilities',
 'total_other_assets',
 'total_other_expenses',
 'total_other_income',
 'total_salaries_adjusted',
 'total_salaries_from_worksheet',
 'total_unreimbursed_and',
 'unsecured_loans',
 'wage_related_costs_core',
 'wage_related_costs_for_interns',
 'wage_related_costs_for_part',
 'wage_related_costs_rhc_fqhc',
 'zip_code'

In [169]:
hospFeat.shape

(212, 118)

In [170]:
for i in range(len(hospFeat.columns)):
    if hospFeat.dtypes[i] == object:
        print(hospFeat.columns[i], ':', hospFeat.dtypes[i])

ccn_facility_type : object
city : object
county : object
fiscal_year_begin_date : object
fiscal_year_end_date : object
hospital_name : object
rural_versus_urban : object
state_code : object
street_address : object
zip_code : object

In [186]:
for i in range(len(hospFeat.columns)):
    if hospFeat.dtypes[i] == 'int64':
        print(hospFeat.columns[i], ':', hospFeat.dtypes[i])

Provider Id : int64
provider_type : int64
type_of_control : int64

In [171]:
# rename column to merge on later
hospFeat.rename(columns={'provider_ccn': 'Provider Id'}, inplace=True)

# remove unnecessary columns
hospFeat.drop(columns=['city', 'county', 'hospital_name', 'state_code', 'street_address', 'zip_code',
                      'fiscal_year_begin_date', 'fiscal_year_end_date'], inplace=True)
hospFeat.shape

(212, 110)

### SPARCS Data Set Preprocessing

In [188]:
sparcsCSect = pd.read_csv('dataFiles/nysHealth/sparcsCesarean.csv')
sparcsCSect.head()

C:\Users\rachelsim\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (24) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,APR DRG Code,APR DRG Description,APR MDC Code,APR MDC Description,APR Medical Surgical Description,APR Risk of Mortality,APR Severity of Illness Code,APR Severity of Illness Description,Abortion Edit Indicator,Age Group,...,Payment Typology 1,Payment Typology 2,Payment Typology 3,Race,Ratio of Total Costs to Total Charges,Total Charges,Total Costs,Type of Admission,Zip Code - 3 digits,yr
0,540,Cesarean delivery,14,"Pregnancy, Childbirth and the Puerperium",Surgical,Minor,1,Minor,N,18 to 29,...,Medicaid,Self-Pay,Self-Pay,White,NaN,6869.50,3887.27,Elective,148,2013
1,540,Cesarean delivery,14,"Pregnancy, Childbirth and the Puerperium",Surgical,Minor,1,Minor,N,18 to 29,...,Blue Cross/Blue Shield,Private Health Insurance,Medicaid,White,NaN,7181.00,4322.47,Elective,148,2013
2,540,Cesarean delivery,14,"Pregnancy, Childbirth and the Puerperium",Surgical,Minor,1,Minor,N,18 to 29,...,Self-Pay,Self-Pay,Self-Pay,White,NaN,6987.25,3925.10,Elective,148,2013
3,540,Cesarean delivery,14,"Pregnancy, Childbirth and the Puerperium",Surgical,Minor,1,Minor,N,18 to 29,...,Medicaid,Self-Pay,Self-Pay,White,NaN,7853.75,4884.78,Elective,147,2013
4,540,Cesarean delivery,14,"Pregnancy, Childbirth and the Puerperium",Surgical,Minor,1,Minor,N,18 to 29,...,Self-Pay,Self-Pay,Self-Pay,White,NaN,5639.50,2904.07,Elective,148,2013

In [212]:
sparcsCSect.shape

(305540, 39)

In [192]:
for i in range(len(sparcsCSect.columns)):
    if sparcsCSect.dtypes[i] == object:
        print(sparcsCSect.columns[i], ':', sparcsCSect.dtypes[i])

APR DRG Description : object
APR MDC Description : object
APR Medical Surgical Description : object
APR Risk of Mortality : object
APR Severity of Illness Description : object
Abortion Edit Indicator : object
Age Group : object
CCS Diagnosis Description : object
CCS Procedure Description : object
Emergency Department Indicator : object
Ethnicity : object
Facility Name : object
Gender : object
Health Service Area : object
Hospital County : object
Length of Stay : object
Patient Disposition : object
Payment Typology 1 : object
Payment Typology 2 : object
Payment Typology 3 : object
Race : object
Type of Admission : object
Zip Code - 3 digits : object

In [193]:
for i in range(len(sparcsCSect.columns)):
    if sparcsCSect.dtypes[i] == 'int64':
        print(sparcsCSect.columns[i], ':', sparcsCSect.dtypes[i])

APR DRG Code : int64
APR MDC Code : int64
APR Severity of Illness Code : int64
Birth Weight : int64
CCS Diagnosis Code : int64
CCS Procedure Code : int64
Discharge Year : int64
yr : int64

In [213]:
labels = ['APR DRG Description', 'APR MDC Description', 'APR Medical Surgical Description', 'APR Severity of Illness Description',
          'CCS Diagnosis Description', 'CCS Procedure Description', 'Facility Name']

# drop irrelevant columns
sparcsCSect.drop(columns=labels, inplace=True)
sparcsCSect.shape

(305540, 32)

In [214]:
# pulling in provider id and facility id crosswalk
xwalk = pd.read_csv('dataFiles/nycHospitalsProviderIdFacilityIdCrossWalk.csv', index_col='Unnamed: 0')
xwalk.rename(columns={'fac_id': 'Facility Id', 'Provider ID': 'Provider Id'}, inplace=True)
xwalk.drop(columns=['C-Section?', 'DRG Type', 'Hospital Name'], inplace=True)
xwalk.head()

   Provider Id  Facility Id
0       330009         1164
1       330196         1294
2       330128         1626
3       330240         1445
4       330127         1165

In [225]:
sparcsXwalk = sparcsCSect.merge(xwalk, how='inner', on='Facility Id')
mergedData = hospFeat.merge(sparcsXwalk, how='inner', on='Provider Id')
mergedData.head()

,accounts_payable,accounts_receivable,allowable_dsh_percentage,buildings,cash_on_hand_and_in_banks,ccn_facility_type,combined_outpatient_inpatient,contract_labor,cost_of_charity_care,cost_of_uncompensated_care,...,Payment Typology 1,Payment Typology 2,Payment Typology 3,Race,Ratio of Total Costs to Total Charges,Total Charges,Total Costs,Type of Admission,Zip Code - 3 digits,yr
0,35769000.0,48353000.0,0.473,149839000.0,8852000.0,STH,960923952.0,347332.0,18861423.0,35697452.0,...,Self-Pay,NaN,NaN,Black/African American,NaN,20857.0,10324.33,Urgent,114,2013
1,35769000.0,48353000.0,0.473,149839000.0,8852000.0,STH,960923952.0,347332.0,18861423.0,35697452.0,...,Private Health Insurance,NaN,NaN,Black/African American,NaN,23196.0,11716.67,Emergency,114,2013
2,35769000.0,48353000.0,0.473,149839000.0,8852000.0,STH,960923952.0,347332.0,18861423.0,35697452.0,...,Medicaid,NaN,NaN,Other Race,NaN,17850.0,8966.25,Emergency,112,2013
3,35769000.0,48353000.0,0.473,149839000.0,8852000.0,STH,960923952.0,347332.0,18861423.0,35697452.0,...,Medicaid,NaN,NaN,Other Race,NaN,14060.0,6384.67,Emergency,114,2013
4,35769000.0,48353000.0,0.473,149839000.0,8852000.0,STH,960923952.0,347332.0,18861423.0,35697452.0,...,Medicaid,NaN,NaN,Other Race,NaN,14929.0,7466.70,Emergency,114,2013

In [226]:
mergedData.shape

(118755, 142)

In [227]:
uniquecols = []

for i in range(len(mergedData.columns)):
    if len(mergedData.iloc[:,i].unique()) == 1:
        uniquecols.append(mergedData.columns[i])
        
print(uniquecols)

['ccn_facility_type', 'rural_versus_urban', 'unsecured_loans', 'wage_related_costs_rhc_fqhc', 'APR DRG Code', 'APR MDC Code', 'Abortion Edit Indicator', 'Birth Weight', 'Gender', 'Health Service Area']

In [228]:
# want to remove these columns because they serve no purposes
mergedData.drop(columns=uniquecols, inplace=True)
mergedData.shape

(118755, 132)

In [230]:
mergedData.iloc[:,0].dtype

dtype('float64')

In [232]:
# get dummies for columns of dtype int and 
dummyCols = []
for i in range(len(mergedData.columns)):
    if mergedData.iloc[:,i].dtype != 'float64':
        dummyCols.append(mergedData.columns[i])
        print(mergedData.columns[i])
        print(mergedData.iloc[:,i].dtype)

Provider Id
int64
provider_type
int64
type_of_control
int64
APR Risk of Mortality
object
APR Severity of Illness Code
int64
Age Group
object
CCS Diagnosis Code
int64
CCS Procedure Code
int64
Discharge Year
int64
Emergency Department Indicator
object
Ethnicity
object
Hospital County
object
Length of Stay
object
Patient Disposition
object
Payment Typology 1
object
Payment Typology 2
object
Payment Typology 3
object
Race
object
Type of Admission
object
Zip Code - 3 digits
object
yr
int64

In [233]:
dummyCols

['Provider Id',
 'provider_type',
 'type_of_control',
 'APR Risk of Mortality',
 'APR Severity of Illness Code',
 'Age Group',
 'CCS Diagnosis Code',
 'CCS Procedure Code',
 'Discharge Year',
 'Emergency Department Indicator',
 'Ethnicity',
 'Hospital County',
 'Length of Stay',
 'Patient Disposition',
 'Payment Typology 1',
 'Payment Typology 2',
 'Payment Typology 3',
 'Race',
 'Type of Admission',
 'Zip Code - 3 digits',
 'yr']

In [234]:
dummies = pd.get_dummies(mergedData[dummyCols])
dummyData = mergedData.merge(dummies, left_index=True, right_index=True)

# drop all columns that have been dummified
dummyData.drop(columns=dummyCols, inplace=True)
dummyData.head()

,accounts_payable,accounts_receivable,allowable_dsh_percentage,buildings,cash_on_hand_and_in_banks,combined_outpatient_inpatient,contract_labor,cost_of_charity_care,cost_of_uncompensated_care,cost_to_charge_ratio,...,Zip Code - 3 digits_135,Zip Code - 3 digits_138,Zip Code - 3 digits_139,Zip Code - 3 digits_140,Zip Code - 3 digits_141,Zip Code - 3 digits_145,Zip Code - 3 digits_146,Zip Code - 3 digits_147,Zip Code - 3 digits_148,Zip Code - 3 digits_OOS
0,35769000.0,48353000.0,0.473,149839000.0,8852000.0,960923952.0,347332.0,18861423.0,35697452.0,0.4,...,0,0,0,0,0,0,0,0,0,0
1,35769000.0,48353000.0,0.473,149839000.0,8852000.0,960923952.0,347332.0,18861423.0,35697452.0,0.4,...,0,0,0,0,0,0,0,0,0,0
2,35769000.0,48353000.0,0.473,149839000.0,8852000.0,960923952.0,347332.0,18861423.0,35697452.0,0.4,...,0,0,0,0,0,0,0,0,0,0
3,35769000.0,48353000.0,0.473,149839000.0,8852000.0,960923952.0,347332.0,18861423.0,35697452.0,0.4,...,0,0,0,0,0,0,0,0,0,0
4,35769000.0,48353000.0,0.473,149839000.0,8852000.0,960923952.0,347332.0,18861423.0,35697452.0,0.4,...,0,0,0,0,0,0,0,0,0,0

In [235]:
dummyData.shape

(118755, 381)

In [261]:
dummyData.isna().any(axis=0)[0] is 'False'

False

In [262]:
nanCols = []

for i in range(len(dummyData.columns)):
    if dummyData.isna().any(axis=0)[i] == True:
        nanCols.append(dummyData.columns[i])
        print(dummyData.columns[i])

buildings
contract_labor
deferred_income
drg_amounts_before_october
fixed_equipment
health_information_technology
inventory
investments
land
land_improvements
leasehold_improvements
less_allowances_for
major_movable_equipment
minor_equipment_depreciable
mortgage_payable
net_revenue_from_stand_alone
notes_and_loans_payable_short
notes_payable
notes_receivable
other_current_assets
other_long_term_liabilities
outpatient_revenue
payroll_taxes_payable
prepaid_expenses
stand_alone_schip_charges
temporary_investments
total_long_term_liabilities
total_other_expenses
wage_related_costs_for_interns
wage_related_costs_for_part
Operating Provider License Number
Other Provider License Number
Ratio of Total Costs to Total Charges

In [263]:
for col in nanColsss:
    print(col, ': ', len(dummyData[dummyData[col].isna()])/len(dummyData))

buildings :  0.021919077091490883
contract_labor :  0.18576902025177888
deferred_income :  0.7574081091322471
drg_amounts_before_october :  0.051189423603216704
fixed_equipment :  0.22351058902783041
health_information_technology :  0.8916508778577744
inventory :  0.2893183444907583
investments :  0.533872258010189
land :  0.23573744263399435
land_improvements :  0.14754747168540272
leasehold_improvements :  0.5471938023662162
less_allowances_for :  0.4880889225716812
major_movable_equipment :  0.05061681613405751
minor_equipment_depreciable :  0.8866237211064797
mortgage_payable :  0.378931413414172
net_revenue_from_stand_alone :  0.3452654625068418
notes_and_loans_payable_short :  0.32579680855542925
notes_payable :  0.9134268030819755
notes_receivable :  0.9999242137173172
other_current_assets :  0.03568691844553914
other_long_term_liabilities :  0.20309881689192033
outpatient_revenue :  0.044141299313713106
payroll_taxes_payable :  0.8859837480527135
prepaid_expenses :  0.6907498631636563
stand_alone_schip_charges :  0.3452654625068418
temporary_investments :  0.48165550924171613
total_long_term_liabilities :  0.17447686413203656
total_other_expenses :  0.5865521451728348
wage_related_costs_for_interns :  0.05786703717738201
wage_related_costs_for_part :  0.14652014652014653
Operating Provider License Number :  1.684139615174098e-05
Other Provider License Number :  0.9968506589196244
Ratio of Total Costs to Total Charges :  0.7528525114732011

In [ ]:
# delete columns with more than 50% nans?

In [254]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

X = dummyData.drop(columns='Total Charges')
y = dummyData['Total Charges']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=13)

accuracy = []
for i in range(1,11):    
    dt = DecisionTreeClassifier(max_depth=i)
    dt.fit(X_train, y_train)
    y_predict = dt.predict(X_test)
    accuracy.append((y_predict == y_test).value_counts(normalize=True)[True])
accuracy

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').